.travellersSection {
  padding: 64px 0;
}

.travellersTitle {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .travellersTitle {
    font-size: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .travellersTitle {
    font-size: 52px;
  }
}
