.navList {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.navItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  padding: 8px 0;
}

.navLink {
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .navList {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .navList {
    margin-bottom: 0;
  }
}
