.travellersList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.travellersCard {
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  background-color: #e8eeff;
  margin: 0;
}

.travellersAvatar {
  border-radius: 16px;
  border-radius: 100%;
  margin-bottom: 24px;
}

.travellersName {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}

.travellersDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  height: 72px;
  margin-bottom: 16px;
}

.travellersBtn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  width: 100%;
  height: 48px;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

.travellersBtn:hover,
.travellersBtn:focus {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #4169e1;
}
.BtnWrapper {
  display: flex;
  justify-content: center;
}
.travellersBtn:active {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #ffffff;
  background-color: #1a2a5a;
}

/* LoadMoreBtn / pagination */

.LoadMoreBtnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.LoadMoreBtn {
  border: 1px solid #4169e1;
  border-radius: 8px;
  width: 100%;
  background-color: #4169e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 48px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out;
}
.LoadMoreBtn:hover {
  color: #000;
  border: 1px solid #4169e1;
  background-color: #e8eeff;
}

@media screen and (min-width: 768px) {
  .travellersList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .travellersCard {
    width: calc((100% - 24px) / 2);
  }

  .LoadMoreBtn {
    width: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .travellersCard {
    width: calc((100% - 72px) / 4);
  }

  .travellersName {
    font-size: 26px;
  }
  .travellersDescription {
    font-size: 18px;
    height: 81px;
  }

  .travellersBtn {
    font-size: 18px;
  }

  /* LoadMoreBtn / pagination */

  .LoadMoreBtn {
    font-size: 18px;
    width: 135px;
  }
}
