/* .wrapper { 
    max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}



.title {
 
font-weight: 700;
font-size: 56px;
line-height: 1.1;
letter-spacing: -0.01em;
color: #000;

}

.meta {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
}

.owner{}

.date {}


.category{}

.imageWrapper {
}

.image {
}

.description {
}

.saveBlock

.saveTitle
.saveDescription

.saveButton */
