@import "modern-normalize";

:root {
  --bg-color: #f7f9ff;
  --text-color: #000;
  --normal-button-color: #4169e1;
  --hover-button-color: #e8eeff;
  --active-button-color: #7a96ea;
  --border: border: 1px solid #4169e1;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #f5f5f5;
  --normal-button-color: #fff;
  --hover-button-color: #7f7f7f;
  --active-button-color: #4c4c4c;
  --border: border: 1px solid #fff;
}

.themebutton {
  background-color: #4169e1;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-nunito-sans), sans-serif;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    background-color 300ms,
    color 300ms;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
