.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.listStorie {
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 335px;
    background-color: #e8eeff;

    overflow: hidden;
}

.imgStorie {
    display: block;
    height: 223px;
    width: 335px;
    object-fit: cover;
    object-position: center;
}

.divContainer {
    padding: 24px;
}
.category {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    padding-bottom: 8px;
    /* padding-left: 24px; */
}
.title {
    /* font-family: "Nunito Sans", sans-serif; */
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    padding-bottom: 8px;
    /* padding-top: 8px; */
    /* padding-left: 24px; */
}
.content {
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 24px;
}

.divUserContainer {
    padding-bottom: 24px;
    display: flex;
}

.divUser {
    padding-left: 16px;
}

.avatar {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.titleUser {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

.iconBookmark{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.point {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding: 0px 8px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.05);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.link {
    width: 229px;
    height: 48px;
    margin-right: 8px;
}
.button.icon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    padding: 6px;
}
.iconBookmarkBtn {
    display: block;
    width: 24px;
    height: 24px;
}

.button:hover,
.button:focus {
    background-color: #4169e1;
    color: #fff;
    fill: #fff;
}
.button:active {
    background: #1a2a5a;
    color: #fff;
    fill: #fff;
}
.button:disabled {
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.3;
    color: #000;
    fill: #000;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .listStorie {
        width: 340px;
    }
    .imgStorie {
        height: 226px;
        width: 340px;
    }
    .button.link {
        margin-right: 10px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .listStorie {
        width: 421px;
    }

    .button.link {
        width: 315px;
        height: 48px;
    }
    
    .imgStorie {
        width: 421px;
        height: 280px;
    }
}