.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.05);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.icon {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    padding: 6px;
}

.iconBookmarkBtn {
    display: block;
    width: 24px;
    height: 24px;
}

.button:hover,
.button:focus {
    background-color: #4169e1;
    color: #fff;
    fill: #fff;
}

.button:active {
    background: #1a2a5a;
    color: #fff;
    fill: #fff;
}

.button:disabled {
    background: rgba(0, 0, 0, 0.05);
    opacity: 0.3;
    color: #000;
    fill: #000;
}

.active {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    background: #1a2a5a;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
                