.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
}

.icon {
  transition: transform 0.3s ease;
}

.text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  transition: transform 0.3s ease;
}