.LoadMoreBtn {
  border: 1px solid #4169e1;
  border-radius: 8px;
  width: 100%;
  background-color: #4169e1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  height: 48px;
}
.LoadMoreBtn:hover,
:focus {
  color: #000;
  border: 1px solid #4169e1;
  background-color: #e8eeff;
}

.LoadMoreBtn:active {
  border: 1px solid #4169e1;
  background-color: #7a96ea;
  color: #000;
}

@media screen and (min-width: 768px) {
  .LoadMoreBtn {
    width: 123px;
  }
}

@media screen and (min-width: 1440px) {
  .LoadMoreBtn {
    font-size: 18px;
    width: 135px;
  }
}
