.TravellersPageTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .TravellersPageTitle {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .TravellersPageTitle {
    font-size: 56px;
  }
}
