.noStoriesContainer {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 20px;
  gap: 32px;
  margin-bottom: 64px;
  width: 335px;
  height: 170px;
  max-width: 768px;
  background-color: #e8eeff;
}

.noStoriesText {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000;
  width: 250px;
  height: 50px;
}

.noStoriesButton {
  border: 1px solid #4169e1;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 6px 12px; */
  width: 295px;
  height: 48px;
  background-color: #4169e1;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

@media (min-width: 768px) {
  .extContainer {
    width: 704px;
  }
  .noStoriesContainer {
    padding: 40px 32px;
    width: 533px;
    height: 185px;
  }

  .noStoriesText {
    width: 469px;
    height: 25px;
  }

  .noStoriesButton {
    width: 150px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .extContainer {
    width: 1312px;
  }
  .noStoriesContainer {
    padding: 40px 32px;
    width: 533px;
    height: 232px;
  }
  .noStoriesText {
    width: 363px;
    height: 72px;
    font-size: 26px;
  }
  .noStoriesButton {
    width: 165px;
    height: 48px;
    font-size: 18px;
  }
}
